<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="/static/login.css">
</head>
<body>

    <div class="logo">
        <!-- You can replace this with your logo image -->
        <img src="/static/logo.png" alt="Logo">
    </div>

        <div class="greetings">
            <h2>Welcome to Adnote</h2>
            <p>Log in to create Notes</p>
        </div>

    <div class="container">

        <div class="form">
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Login</button>
            </form>
        </div>

    </div>

    <div class="signup-link">
            <p1>New here?</p1>
            <p2><a href="{% url 'signup' %}">Sign Up</a></p2>
    </div>
        
</body>
</html>