<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" type="text/css" href="/static/signup.css">
</head>
<body>
    <div class="logo">
        <!-- You can replace this with your logo image -->
        <img src="/static/logo.png" alt="Logo">
    </div>

    <form method="post">
        <h1 class="signup-title">Sign Up</h1>
        <hr width="100%" size="2">
        <!-- Include the CSRF token here -->
        {% csrf_token %}

        <!-- First Name -->
        <div class="name-inputs">
            <div>
                <label for="id_first_name">First Name:</label>
                <input type="text" name="first_name" id="id_first_name" required>
            </div>
            <!-- Last Name -->
            <div>
                <label for="id_last_name">Last Name:</label>
                <input type="text" name="last_name" id="id_last_name" required>
            </div>
        </div>
        <!-- Email Address -->
        <div>
            <label for="id_username">Username:</label>
            <input type="text" name="username" id="id_username" required>
        </div>
        <!-- Password -->
        <div>
            <label for="id_password1">Password:</label>
            <input type="password" name="password1" id="id_password1" required>
        </div>
        <!-- Re-type Password -->
        <div>
            <label for="id_password2">Confirm Password:</label>
            <input type="password" name="password2" id="id_password2" required>
        </div>
        <button type="submit" class="signup-button">Sign Up</button>
        <a href="{% url 'login' %}">Already have an account? Login here</a>
    </form>
</body>
</html>
